$main-violet: #7b1160;
$main-yellow: #e0a602;

.body {
  background-color: #000;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;

  &:visited {
    color: currentColor;
  }
}

.header {
  width: 80vw;
  margin: auto;
  color: #fff;
}

.nav-container {
  margin-bottom: 5%;
}

.navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;

  &-item {
    &:hover {
      color: $main-violet;
    }

    &:active {
      color: $main-yellow;
    }
  }
}

.logo {
  fill: $main-violet;
  flex-grow: 1;
}

.hero {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0 50px;
  box-sizing: border-box;

  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  /*подумать над заглушкой*/

  &-title {
    width: 100%;
    text-align: center;
    font-size: 62px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
  }

  &-list {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style: url('../img/icons/check.png');
  }

  &-btn {
    display: inline-block;
    padding: 10px 55px;
    background-color: $main-yellow;
    border-radius: 10px;
    margin-top: auto;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    border: solid 3px lighten($main-yellow, 15%);
    z-index: 1;

    &:hover {
      border-color: darken($main-yellow, 15%);
    }

    &:visited {
      color: #000;
    }
  }
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
