$main-violet: #7b1160;
$main-yellow: #e0a602;

.body {
  background-color: #000;
  color: #fff;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.btn {
  border: none;
  background: none;
}

.header {
  width: 80vw;
  margin: 0 auto 150px;
  color: #fff;
}

.nav-container {
  margin-bottom: 5%;
  display: flex;
}

.navigation {
  height: 50px;
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
  margin-left: auto;

  &-item {
    &:hover {
      color: $main-violet;
    }

    &:active {
      color: $main-yellow;
    }
  }

  &-link {
    &:visited {
      color: currentColor;
    }
  }
}

.logo {
  fill: $main-violet;
  height: 50px;
  align-self: center;
}

.hero {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 100px 50px;
  box-sizing: border-box;
  overflow: hidden;

  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background: url('../img/bg/video-prev.png') no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  &-title {
    width: 100%;
    text-align: center;
    font-size: 62px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
  }

  &-list {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style: url('../img/icons/check.png');
  }

  &-btn {
    margin-top: auto;
  }
}

.order-btn {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  border: solid 3px lighten($main-yellow, 15%);
  display: inline-block;
  padding: 10px 55px;
  background-color: $main-yellow;
  border-radius: 10px;
  z-index: 1;

  &:hover {
    border-color: darken($main-yellow, 15%);
  }

  &:visited {
    color: #000;
  }
}

@media only screen and (max-width: 812px) {
  .nav-container {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .nav__mobile {
    cursor: pointer;
    display: inline-block;
    width: 75px;
    height: 27px;
    border: none;
    background: linear-gradient(
      $main-violet 20%,
      transparent 20%,
      transparent 40%,
      $main-violet 40%,
      $main-violet 60%,
      transparent 60%,
      transparent 80%,
      $main-violet 80%
    );
  }

  .nav__mobile:hover {
    background: linear-gradient(
      $main-yellow 20%,
      transparent 20%,
      transparent 40%,
      $main-yellow 40%,
      $main-yellow 60%,
      transparent 60%,
      transparent 80%,
      $main-yellow 80%
    );
  }

  .navigation {
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top: 65px;
    right: 0;
    min-width: auto;
    z-index: 2;
  }

  .hero {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .hero-title {
    font-size: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    margin-bottom: 50px;
  }

  .hero {
    padding: 0;
    &-video {
      display: none;
    }
  }

  .nav-container {
    margin-bottom: 100px;
  }

  .navigation {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
