$main-violet: #7b1160;
$main-yellow: #e0a602;

.main {
  margin: auto;
}

.composition {
  width: 70vw;
  margin: 0 auto 100px;
  position: relative;
  background: radial-gradient(
      50% 300%,
      #000 25%,
      transparent 25%,
      transparent 40%,
      #000 40%
    ),
    linear-gradient(transparent 49.6%, $main-yellow 50%, transparent 50.4%),
    linear-gradient(
      38deg,
      transparent 49.8%,
      $main-yellow 50%,
      transparent 50.2%
    ),
    linear-gradient(
      -38deg,
      transparent 49.8%,
      $main-yellow 50%,
      transparent 50.2%
    );

  &-container {
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 150px 60%;
  }

  &-item {
    width: 20%;
    height: 100px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    background: radial-gradient(
      rgba(123, 17, 96, 0.5) 33%,
      rgba(123, 17, 96, 0)
    );

    &::before {
      content: '';
      background: url('../img/bg/ingredient\ 1.jpeg') no-repeat center;
      background-size: cover;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -100px;
      border-radius: 50%;
    }

    &:nth-child(2n)::before {
      left: -100px;
      background: url('../img/bg/ingredient\ 2.jpeg') no-repeat center;
      background-size: cover;
    }
  }
}

.feedback {
  width: 95vw;
  position: relative;
  padding: 25px 100px 50px;
  margin: 0 auto 150px;
  box-sizing: border-box;

  background: repeating-linear-gradient(
    45deg,
    rgba(224, 166, 2, 0.1) 10px,
    rgba(224, 166, 2, 0.1) 15px,
    #000 15px,
    #000 25px
  );

  &-title {
    font-size: 32px;
  }

  &-list {
    width: 50%;
    display: flex;
    margin: auto;
  }

  &-photo {
    width: 100%;
  }

  &-author {
    text-transform: uppercase;
  }

  &-text {
    text-align: justify;
  }

  &-btn {
    width: 80px;
    height: 80px;
    background-color: $main-violet;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    cursor: pointer;

    &::after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      left: 20px;
      box-sizing: border-box;
      border: 5px solid #fff;
      transform: rotate(45deg);
    }

    &__next {
      right: 100px;

      &::after {
        border-bottom: none;
        border-left: none;
      }
    }

    &__prev {
      &::after {
        border-top: none;
        border-right: none;
        left: 30px;
      }
    }
  }
}

.promo {
  width: 60vw;
  margin: 0 auto 150px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 500px 1fr;
  gap: 50px 100px;

  &-img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &-text {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 18px;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
  }

  &-list {
    grid-column: 1/3;
    grid-row: 2/3;
    list-style: disc;
  }

  &-item {
    margin-left: 20px;
    text-align: justify;
  }

  &-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 1550px) {
  .composition {
    position: relative;
    background: radial-gradient(
        50% 300%,
        #000 25%,
        transparent 25%,
        transparent 40%,
        #000 40%
      ),
      linear-gradient(transparent 49.6%, $main-yellow 50%, transparent 50.4%),
      linear-gradient(
        50deg,
        transparent 49.8%,
        $main-yellow 50%,
        transparent 50.2%
      ),
      linear-gradient(
        -50deg,
        transparent 49.8%,
        $main-yellow 50%,
        transparent 50.2%
      );
  }

  .promo {
    column-gap: 20px;
    width: 70vw;

    &-text {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 961px) {
  .composition {
    position: relative;
    background: none;
    display: flex;
    flex-direction: column;

    &-container {
      position: relative;
      width: 200px;
      height: auto;
      order: 2;
      margin-top: 50px;
    }

    &-img {
      display: none;
    }

    &-list {
      justify-content: center;
    }

    &-item {
      width: auto;

      &::before {
        top: -120px;
        left: calc(50% - 50px);
      }

      &:nth-child(2n)::before {
        left: calc(50% - 50px);
      }
    }
  }

  .feedback {
    padding-bottom: 150px;

    &-list {
      width: 100%;
    }

    &-btn {
      margin-top: 50px;
      top: calc(100% - 150px);
    }
  }

  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 580px) {
  .feedback {
    padding-right: 15px;
    padding-left: 15px;

    &-btn__next {
      right: 30px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .composition,
  .feedback,
  .promo {
    margin-bottom: 50px;
  }

  .promo {
    width: 95vw;
    overflow: hidden;
  }
}
